* {
    margin: 0;
    padding: 0;
    background-color: #fb7185;
}
h1 { 
    display: flex;
    font-size: 40px;
    justify-content: center;
    padding-top: 42px;
}
p {
    font-style: italic;
    font-size: 25px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
button {
    border: none;
    padding: 16px 68px;
    font-size: 16px;
    background-color: black;
    cursor: pointer;
    color: white;
    border-radius: 16px;
}
#container {
    visibility: hidden;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
#board {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 454px;
}
.square {
    display: flex;
    border-color: black;
    border-style: solid;
    width: 138px;
    height: 188px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
