* {
    margin: 0;
    padding: 0;
    background-color: #fb7185;
}
h1 { 
    display: flex;
    font-size: 40px;
    justify-content: center;
    padding-top: 120px;
}
#container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
#squares {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 454px;
}
.square {
    display: flex;
    border-color: black;
    border-style: solid;
    width: 138px;
    height: 188px;
    justify-content: center;
    align-items: center;
}
