* {
    margin: 0;
    padding: 0;
    background-color: pink;
}
  
h1 {
    display: flex;
    font-size: 40px;
    justify-content: center;
    padding-top: 42px;
}
  
p {
    font-style: italic;
    font-size: 25px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
  
#button-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
  
button {
    border: none;
    padding: 16px 68px;
    font-size: 16px;
    background-color: black;
    cursor: pointer;
    color: white;
    border-radius: 16px;
}
  
#container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
  
#board {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 454px;
}
  
.square {
    display: flex;
    font-size: 100px;
    border-color: black;
    border-style: solid;
    width: 138px;
    height: 188px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
  
.restart {
    display: flex;
    justify-content: center;
}
#dialog {
    width: 558px;
    margin-left: 286px;
    height: 374px;
    margin-top: 275px;
    flex-direction: column;
    align-items: center;
    display: none;
}
#dialogTxt {
    padding-bottom: 20px;
}
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.541);
}